# Python virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Dataset images
data/images/

# Compressed datasets
data/*.tar.gz

# Trained models
models/
*.pth

# Logs
*.log

# OS files
.DS_Store
Thumbs.db